@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #067C0B;
  --font-sans: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #000000; /* Default text color black */
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
