@import "tailwindcss";

html,
body {
	width: 100%;
	overflow-x: hidden;
}

.shine-text {
  position: relative;
  display: inline-block;
  color: white;
  overflow: hidden;
}

.shine-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: shine 6s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


